h1 {
    padding-bottom: 10px;
    font-weight: bold;
}

p {
    color: white;
    padding-bottom: 5px;
}

.services-list {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.request-experience {
    margin-bottom: 10px;
    background: linear-gradient(0deg, var(--grey) 0%, var(--blue) 100%);
    width: 90%;
    border-radius: 15px;
    border-color: transparent;
    box-shadow: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.request-experience h2 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.request-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.experience-input, .username-input {
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--grey);
    background-color: white;
    margin-bottom: 10px;
}

.insert-button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: var(--blue);
    box-shadow: black 0px 0px 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;

    transform: scale(1);
    transform: transform 0.3s ease;
}

.insert-button:hover {
    transform: scale(1.1);
    transform: transform 0.3s ease;
}