
.Category {
    background: var(--grey);
    width: 90%;
    border-radius: 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.Category h1 {
    font-weight: 600;
    justify-self: left;
    margin-left: 25px;
    margin-bottom: 5px;
    color: white;
}

.category-list {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.empty-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 150px;
}

.experience-list {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 93%;
    max-width: 93%;
    overflow-x: auto;

    padding-top: 5px;
    padding-bottom: 5px;
}


@media (max-width: 900px) {
    .Category {
        width: 100%;
    }
}