:root {
    --blue: rgb(51, 95, 255);
    --grey: rgba(18, 18, 21, 0.92);
}

body {
    overflow: hidden;
}

.home-background {
    top: 75px;
    left: 0;
    width: 100vw;
    max-height: calc(100vh - 70px);
    overflow: hidden;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    overflow-y: auto;
    backdrop-filter: blur(10px);
}

.home-content h2 {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}

.home-header h1 {
    padding: 20px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;    
    text-shadow: 0 0 100px black;
    font-size: 100px;
}

.home-info-1, .home-info-2, .home-info-3, .home-info-4 {
    padding-top: 10px;
    padding-bottom: 40px;
    margin-top: 40px;
    width: 80%;
    box-shadow: black 0px 0px 100px;
    border-color: transparent;
    border-radius: 15px;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-info-1 {
    background: linear-gradient(0deg, var(--grey) 0%, var(--blue) 100%);
}

.home-info-2 {
    background: var(--grey);
}

.home-info-3 {
    background: linear-gradient(0deg, var(--grey) 0%, var(--blue) 50%, var(--grey) 100%);
}

.home-info-4 {
    background: var(--grey);
    margin-bottom: 30px;
}

.navigation-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.navigation-card {
    /* background: linear-gradient(180deg, white 0%, var(--grey) 300%); */
    background: white;
    border-radius: 15px;
    box-shadow: black 0px 0px 25px;
    cursor: pointer;
    width: 40%;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    transform: scale(1.0);
    transition: transform 0.3s ease;
}

.navigation-card:hover, .card-action {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.navigation-card h3, .navigation-card p, .card-action {
    color: black;
    margin-top: 5px;
    margin-bottom: 0px;
    width: 65%;
    
}

.card-action {
    color: var(--grey);
    font-weight: bold;
    margin-bottom: 20px;

    transform: scale(1.0);
    transition: transform 0.3s ease;
}

.navigation-card p {
    font-size: 17px;
}

.stats-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.stats-card {
    /* background: linear-gradient(180deg, white 0%, var(--grey) 300%); */
    background: white;
    border-radius: 15px;
    box-shadow: black 0px 0px 25px;
    width: 40%;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    transform: scale(1.0);
    transition: transform 0.3s ease;
}

.stats-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.stats-card h1 {
    color: black;
    font-weight: normal;
    text-shadow: none;
    font-size: 30px;
    margin-bottom: 15px;
}


.home-rogems-image {
    width: 256px;
    height: 256px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.home-info-3-paragraph, .home-info-4-paragraph {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-info-3-paragraph {
    align-items: flex-start;
    width: 80%;
}

.home-info-2 h2, .home-info-3 h2, .home-info-4 h2 {
    margin-left: 25px;
    margin-top: 5px;
}

@media (max-width: 1080px) {
    .home-info-1, .home-info-2, .home-info-3, .home-info-4 {
        margin-top: 30px;
        width: 85%;
    }
}

@media (max-width: 800px) {

    .home-background {
        margin-top: 56px;
        height: calc(100% - 56px);
    }
    .home-content {
        margin-top: 0;
    }

    .home-info-1, .home-info-2, .home-info-3, .home-info-4 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .home-header h1 {
        font-size: 50px;
    }

    .navigation-card {
        scale: 0.9;
    }

    .stats-card {
        scale: 0.9;
    }

    .home-rogems-image {
        width: 200px;
        height: 200px;
    }

    .home-info-3-paragraph, .home-info-4-paragraph {
        scale : 0.85;
    }

}