
.notbar-success, .notbar-error {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    z-index: 1000;

    animation-duration: 5s;
    animation-name: appear;;
}

.notbar-success {
    background-color: #28c3ae;
    color: white;
}

.notbar-error {
    background-color: red;
    color: white;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    5% {
        opacity: 1;
        transform: translateY(60px);
    }

    95% {
        opacity: 1;
        transform: translateY(60px);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}