.navbar {
    background-color: rgb(18 18 21 / 92%);;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px black;
    padding: 10px;
    position: sticky;
}

.navbar-home, .navbar-discover, .navbar-services, .navbar-search {
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    font-size: 20px;
}

.navbar-home:hover, .navbar-discover:hover, .navbar-services:hover, .navbar-search:hover {
    background-color: #335fff;
    border-radius: 8px;
    box-shadow: black 0px 0px 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}
