.navbar {
    background-color: rgb(18 18 21 / 92%);;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px black;
    padding: 10px;
    position: sticky;
}

.navbar-link {
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    font-size: 20px;
}

.navbar-link:hover {
    background-color: #335fff;
    border-radius: 8px;
    box-shadow: black 0px 0px 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

@media (max-width: 768px) {
    .navbar-link {
        font-size: 16px;
        padding: 10px 15px;
    }
    
}
