
.discover-container {
    overflow-y: auto;
    max-height: calc(100vh - 60px);
}

h1 {
    padding-bottom: 10px;
    font-weight: bold;
}

.discover-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 1080px) {
    .experience-content {
        scale: 0.5;
    }

}